/* -------------------------------------------------- *
 * Checkboxes                                         *
 * -------------------------------------------------- */

@use "../lib";

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  outline: none;
  vertical-align: bottom;

  &::before {
    @include lib.transition(#{background-color, border-color, box-shadow});

    background-color: var(--input-bg, var(--c-bg));
    background: var(--icon-check) no-repeat center center / 0em;
    border-color: var(--input-border-color, var(--c-fg-variant));
    border-radius: var(--border-radius-small);
    border-style: solid;
    border-width: var(--border-width);
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 1.5em;
    margin-right: 0.75rem;
    width: 1.5em;
  }

  &:is(:hover, :focus)::before {
    --input-border-color: var(--c-primary);
  }

  &:focus::before {
    box-shadow: 0 0 0 4px var(--input-focus-color, var(--c-primary-container));
  }

  &:checked::before {
    background-size: 1em;
  }

  &:disabled::before {
    cursor: not-allowed;
    opacity: var(--disabled-opacity);
  }
}
