/* -------------------------------------------------- *
 * Checkboxes                                         *
 * -------------------------------------------------- */

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  outline: none;
  vertical-align: bottom;

  &::before {
    background-color: var(--c-bg);
    background: var(--icon-check) no-repeat center center / 0em;
    border-color: var(--c-border);
    border-radius: var(--border-radius-small);
    border-style: solid;
    border-width: var(--border-width);
    content: "";
    display: inline-block;
    height: 1.5em;
    margin-right: 0.5rem;
    transition-property: background-color, border-color, box-shadow;
    width: 1.5em;
  }

  &:is(:hover, :focus)::before {
    border-color: var(--c-primary);
  }

  &:focus::before {
    box-shadow: 0 0 0 4px var(--c-outline, var(--c-primary-surface-bg));
  }

  &:checked::before {
    background-size: 1em;
  }

  &:disabled::before {
    opacity: var(--disabled-opacity);
  }
}
