/* -------------------------------------------------- *
 * Text(-ish) inputs                                  *
 * -------------------------------------------------- */

@use "../lib";

textarea,
input:not([type="checkbox"]),
input:not([type="file"]),
input:not([type="image"]),
input:not([type="radio"]),
input:not([type="range"]) {
  @include lib.outline(var(--input-focus, var(--c-primary-container)));
  @include lib.transition(#{color, background-color, border-color, box-shadow});
  -webkit-appearance: none;
  appearance: none;
  background: var(--input-bg, var(--c-bg));
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--input-border, var(--c-border));
  color: var(--input-fg, var(--c-fg));
  padding: 0.75rem;
  width: 100%;
  caret-color: var(--input-border);

  &:hover,
  &:focus {
    --input-border: var(--c-primary);
  }

  &::placeholder {
    color: var(--input-placeholder, var(--c-fg-variant));
  }

  // Add some spacing between text and input when used in labels
  label > & {
    margin-top: 0.25rem;
  }
}

input[type="date"],
input[type="datetime-local"],
input[type="time"] {
  cursor: pointer;
  // Make date inputs the same height as others by manually setting the control
  // height (fix for Safari)
  height: calc(
    (var(--line-height) * var(--base-font-size)) + 1.5rem + var(--border-width) *
      2
  );
}

textarea {
  &.no-resize {
    resize: none;
  }
}
