/* -------------------------------------------------- *
 * Text(-ish) inputs                                  *
 * -------------------------------------------------- */

textarea,
input:not([type="checkbox"], [type="radio"], [type="file"], [type="range"], [type="image"]) {
  -webkit-appearance: none;
  appearance: none;
  background: var(--c-bg);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--c-border);
  caret-color: var(--c-primary, initial);
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  outline: none;
  padding: 0.75rem 0.75rem;
  transition: var(--transition);
  transition-property: color, background-color, border-color, box-shadow;
  width: 100%;

  &:is(:hover, :focus) {
    border-color: var(--c-primary);
  }

  &:focus {
    box-shadow: var(--outline);
  }

  &::placeholder {
    color: var(--c-fg-variant);
    opacity: 1;
  }

  // Add some spacing between text and input when used in labels
  label > & {
    margin-top: 0.25rem;
  }
}

input:is([type="date"], [type="time"], [type="datetime-local"]) {
  // Make date inputs the same height as others by manually setting the control
  // height (fix for Safari)
  $text-height: calc(var(--line-height) * var(--font-size));
  $padding: 0.75rem * 2;
  $border-size: calc(var(--border-width) * 2);
  height: calc(#{$text-height} + #{$padding} + #{$border-size});
}

textarea[data-resize="false"] {
  resize: none;
}
