/* -------------------------------------------------- *
 * Select boxes                                       *
 * -------------------------------------------------- */

@use "../lib";

select {
  @include lib.outline(var(--input-focus-color, var(--c-primary-container)));
  @include lib.transition(#{color, background-color, border-color, box-shadow});

  -webkit-appearance: none;
  appearance: none;
  background: var(--icon-chevron-down) no-repeat right 0.5em center / 1em;
  background-color: var(--input-bg, var(--c-bg));
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--input-border-color, var(--c-border));
  color: var(--input-fg, inherit);
  font: inherit;
  letter-spacing: inherit;
  padding: var(--input-padding-y, 0.75rem) var(--input-padding-x, 0.75rem);
  padding-right: calc(var(--input-padding-y, 0.75rem) + 1em);
  width: 100%;

  &:is(:hover, :focus) {
    --input-border-color: var(--c-primary);
  }

  // Add some spacing between text and input when used in labels
  label > & {
    margin-top: 0.25rem;
  }
}
