/* -------------------------------------------------- *
 * Spinner                                            *
 * -------------------------------------------------- */

:where([aria-busy="true"]) {
  cursor: progress;

  &:where(:not(:empty)) {
    text-align: center;
  }

  &::before {
    animation-duration: var(--spinner-duration, 1s);
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
    border-radius: 100%;
    border: var(--spinner-width, 3px) solid var(--spinner-fg, currentColor);
    border-top-color: transparent;
    content: "";
    display: inline-block;
    height: var(--spinner-size, 1.5rem);
    opacity: var(--spinner-opacity, 1);
    vertical-align: middle;
    width: var(--spinner-size, 1.5rem);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
