[data-color-scheme="light"] {
  color-scheme: light;
}

[data-color-scheme="dark"],
[data-color-scheme="inverted"] {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  [data-color-scheme="inverted"] {
    color-scheme: light;
  }
}
