/* -------------------------------------------------- *
 * Various utilities                                  *
 * -------------------------------------------------- */

[data-trim~="top"],
[data-trim="both"] {
  > *:first-child {
    margin-top: 0;
  }
}

[data-trim~="bottom"],
[data-trim="both"] {
  > *:last-child {
    margin-bottom: 0;
  }
}

/* See https://www.a11yproject.com/posts/how-to-hide-content/ */
[data-hidden]:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[data-clamp] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--clamp, 1);
  overflow: hidden;
}
[data-clamp="1"] {
  --clamp: 1;
}
[data-clamp="2"] {
  --clamp: 2;
}
[data-clamp="3"] {
  --clamp: 3;
}
