/* -------------------------------------------------- *
 * Article (as container that's visually separated    *
 * from the other content)                            *
 * -------------------------------------------------- */

article {
  background: var(--c-surface-bg);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-elevation-high);
  color: var(--c-surface-fg);
  margin: var(--block-spacing-y) 0;
  padding: 2rem 2rem;
}
