/* -------------------------------------------------- *
 * Buttons                                            *
 * -------------------------------------------------- */

button,
[role="button"],
input:is([type="button"], [type="submit"], [type="reset"]) {
  --int-button-bg: var(--primary);
  --int-button-fg: var(--on-primary);
  --int-button-border: transparent;
  --int-button-hover-bg: var(--primary-400);

  background: var(--int-button-bg);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--int-button-border);
  box-shadow: var(--shadow-elevation-subtle);
  color: var(--int-button-fg);
  font: inherit;
  font-weight: var(--font-weight-medium);
  letter-spacing: inherit;
  outline: none;
  padding: 0.5rem 0.75rem;
  position: relative;
  text-align: center;
  transition: var(--transition);
  transition-property: all;

  &:hover {
    background: var(--int-button-hover-bg);
  }

  &:focus {
    box-shadow: var(--outline);
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }

  &[data-variant~="outline"] {
    --int-button-bg: transparent;
    --int-button-fg: var(--primary);
    --int-button-border: currentColor;
    --int-button-hover-bg: var(--primary-100);
    box-shadow: none;
  }

  &[data-variant~="ghost"] {
    --int-button-bg: transparent;
    --int-button-fg: var(--primary);
    --int-button-hover-bg: var(--primary-100);
    box-shadow: none;
  }

  &[data-variant~="muted"] {
    --int-button-bg: transparent;
    --int-button-fg: var(--c-fg-variant);
    --int-button-hover-bg: var(--c-surface-variant-bg);
    box-shadow: none;
  }
}

[role="button"] {
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: var(--int-button-fg);
  }
}
