/* -------------------------------------------------- *
 * Buttons                                            *
 * -------------------------------------------------- */

@use "../lib";

:where(button, [role="button"]),
:where(input):where([type="button"], [type="submit"], [type="reset"]) {
  @include lib.autoBg(
    $insetX: calc(var(--border-width) * -1),
    $hoverOnly: true
  );

  @include lib.outline(var(--button-focus-color, var(--c-primary-container)));
  @include lib.transition(#{color, background-color, border-color, box-shadow});

  background: var(--button-bg, var(--c-primary));
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--button-border-color, transparent);
  color: var(--button-fg, var(--c-on-primary));
  cursor: pointer;
  font: inherit;
  font-weight: var(--button-font-weight, 500);
  letter-spacing: inherit;
  padding: var(--button-padding-y, 0.75rem) var(--button-padding-x, 1rem);

  &:where(:disabled) {
    cursor: not-allowed;
    opacity: var(--disabled-opacity);
  }

  &:where([f-outline], [f-ghost]) {
    --button-fg: var(--c-primary);
    --button-bg: transparent;
  }

  &:where([f-outline]) {
    --button-border-color: currentColor;
  }
}

:where(button) {
  display: block;
  width: 100%;
}

:where([role="button"]) {
  display: inline-block;
}

:where(a[role="button"]) {
  text-decoration: none;
}
