/* -------------------------------------------------- *
 * Dialogs                                            *
 * -------------------------------------------------- */

dialog {
  background: var(--c-surface-bg);
  border-radius: var(--border-radius-large);
  border: none;
  box-shadow: var(--shadow-elevation-high);
  color: var(--c-surface-fg);
  margin: 0 auto;
  max-width: fit-content;
  padding: 1rem 1rem;
  position: fixed;
  width: 100%;

  &::backdrop {
    background: var(--c-backdrop-bg);
  }
}
