/* -------------------------------------------------- *
 * Navbars and -menus                                 *
 * -------------------------------------------------- */

@use "../lib";

$nav-height: var(--nav-height, 5rem);

nav {
  --block-spacing-y: 0;

  @include lib.transition(#{color, background-color, border-color, box-shadow});

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;

  &[data-fine-nav~="fixed"] {
    background-color: var(--c-surface-bg);
    height: $nav-height;
    left: 0;
    padding: 0 var(--body-padding-x);
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--nav-z-index, 10);
  }
}

/* -------------------------------------------------- *
 * Links                                              *
 * -------------------------------------------------- */

// Links within navs have more of a button like look to them
nav a {
  border-radius: var(--border-radius);
  padding: 0.375rem 0.5rem;
  text-decoration: none;
}

nav a[data-fine-link="active"] {
  --link-hover-color: var(--link-color, var(--c-primary));

  @include lib.autoBg;
}

nav a:only-child {
  display: block;
}

/* -------------------------------------------------- *
 * Lists                                              *
 * -------------------------------------------------- */

nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0;

  // Remove list styles for link lists
  li {
    list-style-type: none;
    margin-top: 0;
  }
}

// Navs inside headers or with the .horizontal modifier are navbars
// by default
header > nav:not([data-fine-nav~="vertical"]),
nav[data-fine-nav~="horizontal"] {
  justify-content: space-between;
  align-items: center;

  > ul {
    align-items: center;
    // Offset link padding
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

// Navs outside headers or with the .vertical modifier flow vertially
// by default
:not(header) > nav:not([data-fine-nav~="horizontal"]),
nav[data-fine-nav~="vertical"] {
  flex-direction: column;

  > ul {
    flex-direction: column;

    // Offset link padding
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

/* -------------------------------------------------- *
 * Utils for adding padding to containers with fixed  *
 * navbars                                            *
 * -------------------------------------------------- */

body[data-fine-nav="fixed"] {
  padding-top: calc(var(--body-padding-y) + #{$nav-height});
}

:not(body) [data-fine-nav="fixed"] {
  padding-top: $nav-height;
}
