/* -------------------------------------------------- *
 * Navbars and -menus                                 *
 * -------------------------------------------------- */

$nav-height: var(--nav-height, 5rem);

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  transition: var(--transition);
  transition-property: color, background-color, border-color, box-shadow;

  &[data-variant~="fixed"] {
    background: var(--c-surface-bg);
    box-shadow: var(--shadow-elevation-low);
    height: $nav-height;
    left: 0;
    padding: 0 var(--body-padding-x);
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--nav-z-index, 10);
  }
}

/* -------------------------------------------------- *
 * Links                                              *
 * -------------------------------------------------- */

// Links within navs have more of a button like look to them
nav a {
  border-radius: var(--border-radius);
  padding: 0.375rem 0.5rem;
  text-decoration: none;
}

nav a[data-active="true"] {
  background: var(--c-surface-primary-bg);
  color: var(--c-primary);
}

nav li a:only-child {
  display: block;
}

/* -------------------------------------------------- *
 * Lists                                              *
 * -------------------------------------------------- */

nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 0;
  padding: 0;

  // Remove list styles for link lists
  li {
    list-style-type: none;
    margin-top: 0;
  }
}

// Navs inside headers or with the .horizontal modifier are navbars
// by default
nav[data-variant~="horizontal"],
header > nav:not([data-variant~="vertical"]) {
  justify-content: space-between;
  align-items: center;

  > ul {
    align-items: center;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

// Navs outside headers or with the .vertical modifier flow vertially
// by default
nav[data-variant~="vertical"],
:not(header) > nav:not([data-variant~="horizontal"]) {
  flex-direction: column;

  > ul {
    flex-direction: column;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

/* -------------------------------------------------- *
 * Utils for adding padding to containers with fixed  *
 * navbars                                            *
 * -------------------------------------------------- */

body[data-nav="fixed"] {
  padding-top: calc(var(--body-padding-y) + #{$nav-height});
}

[data-nav="fixed"]:not(body) {
  padding-top: $nav-height;
}
