button,
[role="button"],
input:is([type="button"], [type="submit"], [type="reset"]) {
  --internal-bg: var(--primary);
  --internal-fg: var(--on-primary);
  --internal-hover: color-mix(in oklch, var(--primary), var(--neutral-100) 15%);

  align-items: center;
  background-color: var(--internal-bg);
  border-radius: var(--border-radius);
  border: none;
  color: var(--internal-fg);
  display: inline-flex;
  font-weight: var(--font-weight-medium);
  gap: 0.75ch;
  justify-content: center;
  padding: calc(0.5rem + var(--border-width)) 1rem;
  text-align: center;
  text-decoration: none;
  transition: var(--transition);
  transition-property: background-color, color;

  &:hover {
    color: var(--internal-fg);
    background-color: var(--internal-hover);
  }

  &:visited {
    color: var(--internal-fg);
  }

  &:focus-visible {
    outline-offset: var(--outline-outset);
    outline: var(--outline);
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }

  &[variant="secondary"] {
    --internal-bg: light-dark(var(--primary-50), var(--primary-100));
    --internal-fg: var(--primary);
    --internal-hover: light-dark(var(--primary-100), var(--primary-200));
  }

  &[variant="ghost"] {
    --internal-bg: transparent;
    --internal-fg: var(--primary);
    --internal-hover: light-dark(var(--primary-50), var(--primary-100));
  }

  &[variant="muted"] {
    --internal-bg: transparent;
    --internal-fg: var(--c-fg-variant);
    --internal-hover: var(--c-surface-variant-bg);
  }
}
