/* -------------------------------------------------- *
 * Buttons                                            *
 * -------------------------------------------------- */

button,
[role="button"],
input:is([type="button"], [type="submit"], [type="reset"]) {
  --\$button-bg: var(--primary);
  --\$button-fg: var(--on-primary);
  --\$button-border: transparent;
  --\$button-outline-offset: var(--outline-outset);
  --\$button-hover: color-mix(in srgb, var(--primary), var(--neutral-100) 30%);

  align-items: center;
  background-color: var(--\$button-bg);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--\$button-border);
  color: var(--\$button-fg);
  display: inline-flex;
  font-weight: var(--font-weight-medium);
  gap: 0.75ch;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none;
  transition: var(--transition);
  transition-property: background-color, border-color, color;

  &:hover {
    color: var(--\$button-fg);
    background-color: var(--\$button-hover);
  }

  &:visited {
    color: var(--\$button-fg);
  }

  &:focus-visible {
    outline-offset: var(--\$button-outline-offset);
    outline: var(--outline);
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }

  &[data-variant~="outline"] {
    --\$button-bg: transparent;
    --\$button-fg: var(--primary);
    --\$button-border: currentColor;
    --\$button-hover: var(--primary-100);
  }

  &[data-variant~="ghost"] {
    --\$button-bg: transparent;
    --\$button-fg: var(--primary);
    --\$button-hover: var(--primary-100);
    --\$button-outline-offset: var(--outline-inset);
  }

  &[data-variant~="muted"] {
    --\$button-bg: transparent;
    --\$button-fg: var(--c-fg-variant);
    --\$button-hover: var(--c-surface-variant-bg);
    --\$button-outline-offset: var(--outline-inset);
  }
}
