/* -------------------------------------------------- *
 * Buttons                                            *
 * -------------------------------------------------- */

button,
[role="button"],
input:is([type="button"], [type="submit"], [type="reset"]) {
  --\$button-bg: var(--primary);
  --\$button-fg: var(--on-primary);
  --\$button-border: transparent;
  --\$button-hover-bg: var(--primary-400);

  -webkit-appearance: button;
  align-items: center;
  appearance: button;
  background: var(--\$button-bg);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--\$button-border);
  color: var(--\$button-fg);
  display: inline-flex;
  font: inherit;
  font-weight: var(--font-weight-medium);
  gap: 0.75ch;
  justify-content: center;
  letter-spacing: inherit;
  margin: 0;
  outline: none;
  padding: 0.5rem 0.75rem;
  position: relative;
  text-align: center;
  transition: var(--transition);
  transition-property: background-color, border-color, box-shadow, color;

  &:hover {
    background: var(--\$button-hover-bg);
  }

  &:focus {
    box-shadow: var(--outline);
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }

  &[data-variant~="outline"] {
    --\$button-bg: transparent;
    --\$button-fg: var(--primary);
    --\$button-border: currentColor;
    --\$button-hover-bg: var(--primary-100);
  }

  &[data-variant~="ghost"] {
    --\$button-bg: transparent;
    --\$button-fg: var(--primary);
    --\$button-hover-bg: var(--primary-100);
  }

  &[data-variant~="muted"] {
    --\$button-bg: transparent;
    --\$button-fg: var(--c-fg-variant);
    --\$button-hover-bg: var(--c-surface-variant-bg);
  }
}

[role="button"] {
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:visited {
    color: var(--\$button-fg);
  }
}
