/* -------------------------------------------------- *
 * Checkboxes                                         *
 * -------------------------------------------------- */

input[type="checkbox"]:not([role="switch"]) {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  outline: none;
  background: var(--c-bg) no-repeat center center / 1em;
  border: var(--border-width) var(--c-border) solid;
  border-radius: var(--border-radius-small);
  height: 1.5em;
  margin: 0 0.5rem 0 0;
  transition: var(--transition);
  transition-property: background-color, border-color, box-shadow;
  vertical-align: bottom;
  width: 1.5em;

  &:hover {
    border-color: var(--primary);
  }

  &:focus {
    border-color: var(--primary);
    box-shadow: var(--outline);
  }

  &:checked {
    background-image: var(--icon-check);
  }

  &:indeterminate {
    background-image: var(--icon-minus);
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }
}
