/* -------------------------------------------------- *
 * Checkboxes                                         *
 * -------------------------------------------------- */

input[type="checkbox"]:not([role="switch"]) {
  background: var(--c-bg) no-repeat center center / round(1rem, 2px);
  border: var(--border-width) var(--c-border) solid;
  border-radius: var(--border-radius-small);
  height: round(1.5em, 2px);
  margin-right: 0.75ch;
  transition: var(--transition);
  transition-property: background-color, border-color;
  vertical-align: bottom;
  width: round(1.5em, 2px);

  &:hover {
    border-color: var(--primary);
  }

  &:focus-visible {
    outline-offset: var(--outline-inset);
    outline: var(--outline);
  }

  &:checked {
    background-image: var(--icon-check);
  }

  &:indeterminate {
    background-image: var(--icon-minus);
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }
}
