/* -------------------------------------------------- *
 * Details/summary                                    *
 * -------------------------------------------------- */

details {
  border-bottom: var(--border-width) solid var(--c-border-variant);
  padding: 1rem 0;

  & summary {
    font-weight: var(--font-weight-medium);
    list-style: none;

    &::after {
      background: var(--icon-chevron) center center / 1em no-repeat;
      content: "";
      display: block;
      float: right;
      height: calc(var(--line-height) * 1em);
      rotate: -90deg;
      transition-property: rotate;
      transition: var(--transition);
      width: calc(var(--line-height) * 1em);
    }

    &::marker {
      display: none;
    }

    &::-webkit-details-marker {
      display: none;
    }

    + * {
      margin-top: 0;
    }
  }

  &[open] > summary {
    margin-bottom: 1rem;

    &::after {
      rotate: 0deg;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}
