details {
  border-bottom: var(--border-width) solid var(--c-border-variant);
  padding: 1rem 0;

  &::details-content {
    height: 0;
    interpolate-size: allow-keywords;
    overflow: hidden;
    transition: var(--transition);
    transition-behavior: allow-discrete;
    transition-property: height, content-visibility;
  }

  &[open]::details-content {
    height: auto;
  }

  & > :not(summary):first-of-type {
    margin-top: 1rem;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

summary {
  border-radius: var(--border-radius-small);
  font-weight: var(--font-weight-medium);
  list-style: none;

  &:focus-visible {
    outline-offset: var(--outline-outset);
    outline: var(--outline);
  }

  /* Custom marker icon */
  &::after {
    background: var(--icon-chevron) center center / 1em no-repeat;
    content: "";
    display: block;
    float: right;
    height: calc(var(--line-height) * 1em);
    rotate: -90deg;
    transition: var(--transition);
    transition-property: rotate;
    width: calc(var(--line-height) * 1em);
  }

  details[open] &::after {
    rotate: 0deg;
  }

  &::marker {
    display: none;
  }

  &::-webkit-details-marker {
    display: none;
  }
}
