/* -------------------------------------------------- *
 * Dialogs                                            *
 * -------------------------------------------------- */

dialog {
  background: var(--c-surface-bg);
  border-radius: var(--border-radius-large);
  border: none;
  box-shadow: var(--shadow-elevation-high);
  color: var(--c-surface-fg);
  margin: 6rem auto 1rem;
  max-width: fit-content;
  padding: 1rem 1rem;
  position: fixed;
  width: 100%;

  &::backdrop {
    background: hsl(0 0% 100% / 0.8);
  }
}

@media (prefers-color-scheme: dark) {
  dialog::backdrop {
    background: hsl(0 0% 0% / 0.8);
  }
}
