dialog {
  --internal-padding: 1rem;

  background: var(--c-surface-bg);
  border-radius: var(--border-radius-large);
  border: none;
  box-shadow: var(--shadow-elevation-high);
  color: var(--c-surface-fg);
  margin: 6rem auto 1rem;
  padding: 1rem;
  position: fixed;
  width: min(30rem, calc(100dvw - 2rem));

  &::backdrop {
    background: light-dark(hsl(0 0% 100% / 0.8), hsl(0 0% 0% / 0.8));
  }

  &:has(footer) {
    padding-bottom: 0;
  }

  > header {
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
  }

  > footer {
    align-items: center;
    border-top: var(--border-width) solid var(--c-border-variant);
    display: flex;
    gap: 0.75rem;
    justify-content: end;
    margin: 1rem -1rem 0;
    padding: 1rem;

    > div:empty {
      flex: 1;
    }
  }

  > p {
    margin: 1rem 0;
  }

  /* Animated open & close */
  &,
  &::backdrop {
    opacity: 0;
    transition: all 0.2s ease allow-discrete;
  }

  & {
    scale: 0.95;
  }

  &[open],
  &[open]::backdrop {
    opacity: 1;
    scale: 1;
  }

  @starting-style {
    &[open],
    &[open]::backdrop {
      opacity: 0;
    }

    &[open] {
      scale: 0.95;
    }
  }
}
