dialog {
  --internal-padding: var(--border-radius-large);

  background: var(--c-surface-bg);
  border-radius: var(--border-radius-large);
  border: none;
  box-shadow: var(--shadow-elevation-high);
  color: var(--c-surface-fg);
  margin: 6rem auto 1rem;
  padding: var(--internal-padding);
  position: fixed;
  width: min(30rem, calc(100dvw - 2rem));

  &:focus-visible {
    outline-offset: var(--outline-outset);
    outline: var(--outline);
  }

  &::backdrop {
    background: light-dark(hsl(0 0% 100% / 0.8), hsl(0 0% 0% / 0.8));
  }

  &:has(footer) {
    padding-bottom: 0;
  }

  > header {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--internal-padding);
  }

  > footer {
    align-items: center;
    border-top: var(--border-width) solid var(--c-border-variant);
    display: flex;
    gap: 0.75rem;
    justify-content: end;
    margin: var(--internal-padding) calc(var(--internal-padding) * -1) 0;
    padding: var(--internal-padding);

    > * {
      flex: 1;
    }

    > div:empty {
      flex: 2;
    }
  }

  > p {
    margin: var(--internal-padding) 0;
  }

  /* Animated open & close */
  &,
  &::backdrop {
    opacity: 0;
    transition: all 0.2s ease allow-discrete;
  }

  &[open],
  &[open]::backdrop {
    opacity: 1;
    scale: 1;
  }

  @starting-style {
    &[open],
    &[open]::backdrop {
      opacity: 0;
    }

    &[open] {
      scale: 1.05;
    }
  }
}
