hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: var(--outer-spacing-y) 0;

  > * {
    margin-block: 0;
  }

  :is(h1, h2, h3, h4, h5, h6) + p {
    color: var(--c-fg-variant);
    font-size: var(--font-size-h5);
  }

  /* image as first child = logo; add some extra spacing */
  img:first-child {
    margin-bottom: calc(var(--outer-spacing-y) - 0.75rem);
  }

  /* if the intention is to center text, assume everything else should be centered too */
  &.text-center {
    align-items: center;
  }
}
