/* -------------------------------------------------- *
 * Navbars and -menus                                 *
 * -------------------------------------------------- */

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;

  & > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin: 0;
    padding: 0;

    & > li {
      list-style-type: none;
      margin-top: 0;
    }
  }

  &[data-variant~="fixed"] {
    background: var(--c-surface-bg);
    box-shadow: var(--shadow-elevation-low);
    height: var(--nav-height, 5rem);
    left: 0;
    padding: 0 var(--body-padding-x);
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--nav-z-index, 10);
  }
}

/* Navs inside headers or with the .horizontal modifier are navbars
by default */
header > nav {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  & > ul {
    align-items: center;
    flex-direction: row;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    & > li a[data-active="true"]::after {
      bottom: -0.25rem;
      height: var(--border-width-large);
      left: var(--border-radius);
      right: var(--border-radius);
      top: unset;
      width: unset;
    }
  }
}

/* -------------------------------------------------- *
 * Links                                              *
 * -------------------------------------------------- */

/* Links within navs have more of a button like look to them */
nav > ul > li a {
  border-radius: var(--border-radius);
  color: var(--c-fg);
  margin-bottom: 0.25rem;
  padding: 0.15rem 0.5rem;
  position: relative;
  text-decoration: none;

  &:hover {
    background: var(--c-surface-variant-bg);
    color: var(--c-fg);
  }

  &[data-active="true"] {
    color: var(--c-fg);

    &::after {
      background: var(--primary);
      border-radius: var(--border-radius);
      bottom: var(--border-radius);
      content: "";
      left: -0.25rem;
      position: absolute;
      top: var(--border-radius);
      width: var(--border-width-large);
    }
  }

  &:only-child {
    display: block;
  }
}

/* -------------------------------------------------- *
 * Utils for adding padding to containers with fixed  *
 * navbars                                            *
 * -------------------------------------------------- */

body[data-nav="fixed"] {
  padding-top: calc(var(--body-padding-y) + var(--nav-height, 5rem));
}

[data-nav="fixed"]:not(body) {
  padding-top: var(--nav-height, 5rem);
}
