/* -------------------------------------------------- *
 * Navbars and -menus                                 *
 * -------------------------------------------------- */

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;

  & > strong:first-child {
    align-items: center;
    display: flex;
    gap: 0.75rem;
  }

  & > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.25rem;
    list-style-type: none;
    margin: 0 -0.5rem;
    padding: 0;

    & li {
      flex: none;
    }

    & li > a {
      align-items: center;
      border-radius: var(--border-radius);
      display: inline-flex;
      gap: 0.75ch;
      padding: 0.25rem 0.5rem;
      text-decoration: none;

      &:focus-visible {
        outline-offset: var(--outline-inset);
        outline: var(--outline);
      }

      &[data-active="true"] {
        background: var(--c-surface-variant-bg);
      }

      &:only-child {
        display: flex;
      }
    }

    & li > hr:only-child {
      margin: 0.375rem 0;
    }

    & li > :is(button, [role="button"]) {
      padding: calc(0.25rem - var(--border-width)) 0.5rem;
    }
  }
}

header > nav {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;

  & > ul {
    align-items: center;
    flex-direction: row;

    & > li + li {
      margin-top: 0;
    }

    & li > hr:only-child {
      border-top-width: 0;
      border-left-width: var(--border-width);
      height: 1.5em;
      margin: 0 0.375rem;
    }
  }

  &[data-variant="fixed"] {
    backdrop-filter: blur(12px) saturate(1.5);
    background: color-mix(in oklch, var(--c-surface-bg), transparent 10%);
    box-shadow: var(--shadow-elevation-low);
    flex-wrap: nowrap;
    height: var(--nav-height, 5rem);
    left: 0;
    overflow: auto;
    padding: 0 var(--body-padding-x);
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--nav-z-index, 10);

    & ul {
      flex-wrap: nowrap;
      margin: 0;
    }
  }
}

/* Automatically increase body padding if it has a fixed nav */
body:has(nav[data-variant="fixed"]) {
  padding-top: calc(var(--body-padding-y) + var(--nav-height, 5rem));
}
