nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;

  & > strong:first-child {
    align-items: center;
    display: flex;
    gap: 0.75rem;
  }

  & > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.25rem;
    list-style-type: none;
    margin: 0 -0.75rem;
    padding: 0;

    & li {
      flex: none;
    }

    & li > a {
      align-items: center;
      border-radius: var(--border-radius);
      font-weight: var(--font-weight-medium);
      display: inline-flex;
      gap: 0.75ch;
      padding: 0.375rem 0.75rem;
      text-decoration: none;

      &:focus-visible {
        outline-offset: var(--outline-inset);
        outline: var(--outline);
      }

      &[active="true"] {
        background: var(--c-surface-variant-bg);
      }

      &:only-child {
        display: flex;
      }
    }

    & li > hr:only-child {
      margin: 0.375rem 0;
    }

    & li > :is(button, [role="button"]) {
      flex: none;
      padding: 0.375rem 0.75rem;
    }
  }

  header > & {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;

    & > ul {
      align-items: center;
      flex-direction: row;

      & > li + li {
        margin-top: 0;
      }

      & li > hr:only-child {
        border-top-width: 0;
        border-left-width: var(--border-width-large);
        height: 1.5em;
        margin: 0 0.375rem;
      }
    }

    &[align-left] {
      gap: 1.25rem;
      justify-content: flex-start;
    }

    &[fixed] {
      backdrop-filter: var(--backdrop-glass);
      background: var(--c-glass);
      border-bottom: var(--border-width) solid var(--c-border-variant);
      flex-wrap: nowrap;
      height: 5rem;
      inset-inline: 0;
      overflow: auto;
      padding: 0 var(--body-padding-x);
      position: fixed;
      top: 0;
      z-index: 10;

      & ul {
        flex-wrap: nowrap;
        margin: 0;
      }
    }

    &:not([fixed]) {
      margin-block: var(--outer-spacing-y);
    }
  }

  /* Automatically increase body padding if it has a fixed nav */
  body:has(&[fixed]) {
    padding-top: calc(var(--body-padding-y) + 5rem);
  }
}
