/* -------------------------------------------------- *
 * Radios                                             *
 * -------------------------------------------------- */

input[type="radio"] {
  --\$radio-size: round(1.5em, 2px);

  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  outline: none;
  background: var(--c-bg);
  border: var(--border-width) var(--c-border) solid;
  border-radius: 100%;
  height: var(--\$radio-size);
  margin: 0 0.5rem 0 0;
  position: relative;
  transition: var(--transition);
  transition-property: background-color, border-color, box-shadow;
  vertical-align: bottom;
  width: var(--\$radio-size);

  &:hover {
    border-color: var(--primary);
  }

  &:focus-visible {
    outline-offset: var(--outline-inset);
    outline: var(--outline);
  }

  &:checked::before {
    background: var(--c-fg);
    border-radius: 100%;
    content: "";
    height: round(calc(var(--\$radio-size) * 0.375), 2px);
    left: 50%;
    position: absolute;
    top: 50%;
    transition: inherit;
    translate: -50% -50%;
    width: round(calc(var(--\$radio-size) * 0.375), 2px);
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }
}
