/* -------------------------------------------------- *
 * Radios                                             *
 * -------------------------------------------------- */

input[type="radio"] {
  background: var(--c-bg);
  border-radius: 100%;
  border: var(--border-width) var(--c-border) solid;
  height: round(1.5em, 2px);
  margin-right: 0.75ch;
  position: relative;
  transition: var(--transition);
  transition-property: background-color, border-color;
  vertical-align: bottom;
  width: round(1.5em, 2px);

  &:hover {
    border-color: var(--primary);
  }

  &:focus-visible {
    outline-offset: var(--outline-inset);
    outline: var(--outline);
  }

  &:checked::before {
    background: var(--c-fg);
    border-radius: 100%;
    content: "";
    height: round(0.375rem, 2px);
    left: 50%;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    width: round(0.375rem, 2px);
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }
}
