/* -------------------------------------------------- *
 * Switches                                           *
 * -------------------------------------------------- */

input[type="checkbox"][role="switch"] {
  --\$switch-height: 1.5em;
  --\$switch-padding: 0.125em;
  --\$switch-knob: calc(var(--\$switch-height) - var(--\$switch-padding) * 2);

  -webkit-appearance: none;
  appearance: none;
  background: var(--c-border);
  border-radius: var(--\$switch-height);
  font: inherit;
  height: var(--\$switch-height);
  margin: 0 0.5rem 0 0;
  outline: none;
  padding: var(--\$switch-padding);
  transition: var(--transition);
  transition-property: background-color, border-color, box-shadow;
  vertical-align: bottom;
  width: 2.5em;

  &::before {
    background: var(--c-surface-bg);
    border-radius: 100%;
    content: "";
    display: block;
    height: var(--\$switch-knob);
    transition: var(--transition);
    transition-property: background-color, margin;
    width: var(--\$switch-knob);
  }

  &:focus-visible {
    outline-offset: var(--outline-outset);
    outline: var(--outline);
  }

  &:checked {
    background: var(--primary);
    border-color: var(--primary);
  }

  &:checked::before {
    background: var(--on-primary);
    margin-left: calc(100% - var(--\$switch-knob));
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }
}
