table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
  width: 100%;

  th,
  td {
    border: var(--border-width) solid var(--c-border);
    padding: 0.6125rem 0.75rem;
    text-align: left;
  }

  thead :is(th) {
    border-bottom-width: var(--border-width-large);
    font-weight: var(--font-weight-medium);
  }

  tfoot :is(td, th) {
    border-top-width: var(--border-width-large);
    font-weight: var(--font-weight-medium);
  }
}
