ul[role="tablist"] {
  --internal-border-radius: var(--border-radius);
  --internal-gap: 0.25rem;

  background: var(--c-border-variant);
  border-radius: var(--internal-border-radius);
  display: inline-flex;
  font-weight: var(--font-weight-medium);
  gap: var(--internal-gap);
  padding: 0.25rem;

  li {
    flex: 1 1 auto;
    list-style-type: none;
    position: relative;
    margin: 0;
  }

  /* Add a separator between inactive sibling elements */
  li:not(:has([aria-selected="true"])) {
    & + &::before {
      background: var(--c-border);
      content: "";
      display: block;
      inset-block: 0.5rem;
      left: calc((var(--internal-gap) + var(--border-width-large)) / -2);
      position: absolute;
      width: var(--border-width-large);
    }
  }

  a {
    border-radius: calc(var(--internal-border-radius) - 0.25rem);
    display: block;
    padding: 0.25rem 1rem;
    text-align: center;
    text-decoration: none;

    &:focus-visible {
      outline-offset: var(--outline-inset);
      outline: var(--outline);
    }

    &[aria-selected="true"] {
      background: var(--c-surface-bg);
      box-shadow: var(--shadow-elevation-low);
    }
  }
}

@media (prefers-color-scheme: dark) {
  ul[role="tablist"] a[aria-selected="true"] {
    box-shadow: none;
  }
}
