[has-fallback] {
  > [fallback-for] {
    align-items: center;
    border-radius: var(--border-radius);
    border: var(--border-width-large) dashed transparent;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    /* Override immediate children margins so we can manage layout ourselves. */
    > * {
      margin-bottom: 0;
      margin-top: 0;
      text-align: center;
    }

    /*
     * If the last row is or has buttons, add some extra spacing to look
     * better.
     */
    > :last-child:has(button),
    > :last-child:is(button) {
      margin-top: 0.75rem;
    }
  }

  > [fallback-for="empty"] {
    border-color: var(--c-border);
    color: var(--c-fg-variant);
  }

  > [fallback-for="error"] {
    border-color: var(--c-border);
  }
}

/* Display fallback element when content is empty or a state is set manually. */
[has-fallback=""] > :first-child:empty + [fallback-for="empty"],
[has-fallback="empty"] > [fallback-for="empty"],
[has-fallback="loading"] > [fallback-for="loading"],
[has-fallback="error"] > [fallback-for="error"] {
  display: flex;
}

/* Hide content element when empty or a different state is set. */
[has-fallback] > :first-child:empty,
:is(
    [has-fallback="empty"],
    [has-fallback="loading"],
    [has-fallback="error"]
  )
  > :first-child {
  display: none !important;
}
