textarea,
input:not(
    [type="checkbox"],
    [type="radio"],
    [type="file"],
    [type="range"],
    [type="image"]
  ) {
  background: var(--input-icon, none) 0.5rem center / 1.2em no-repeat;
  background-color: var(--c-bg);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--c-border);
  caret-color: var(--primary);
  padding: 0.5rem;
  padding-left: calc(var(--input-has-icon, 0) * (1.2em + 0.5rem) + 0.75ch);
  transition: var(--transition);
  transition-property: background-color, border-color, color;
  width: 100%;

  &:hover {
    border-color: var(--primary);
  }

  &:focus-visible {
    outline-offset: var(--outline-inset);
    outline: var(--outline);
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }

  &::placeholder {
    color: var(--c-fg-variant);
    opacity: 1;
  }

  /* Add some spacing between text and input when used in labels */
  :is(label):not(:has(.visually-hidden:first-child)) > & {
    margin-top: 0.25rem;
  }

  /* Style <small> as hint text if added below the input */
  + small {
    color: var(--c-fg-variant);
    display: block;
    margin-top: 0.25rem;
  }
}

input:is([type="date"], [type="time"], [type="datetime-local"]) {
  /* Manually set the input height because some types have inconsistent height */
  height: calc(1lh + (0.5rem * 2) + var(--border-width) * 2);
}

input[type="email"] {
  --input-has-icon: 1;
  --input-icon: var(--icon-mail);
}

input[type="password"] {
  --input-has-icon: 1;
  --input-icon: var(--icon-lock);
}

input[type="date"] {
  --input-has-icon: 1;
  --input-icon: var(--icon-calendar);
}

input[type="time"] {
  --input-has-icon: 1;
  --input-icon: var(--icon-clock);
}

input[type="search"] {
  --input-has-icon: 1;
  --input-icon: var(--icon-search);
}

textarea {
  display: block;
  resize: vertical;

  &[no-resize] {
    resize: none;
  }
}
