:root {
  /* Calculated with https://clamping.andreasphil.com */
  --body-padding-x: clamp(1rem, 1.495vw + 0.75rem, 2rem);
  --body-padding-y: clamp(2rem, 8.972vw - 0.125rem, 5rem);
}

.footer {
  padding: var(--body-padding-y) 0 0;
  text-align: center;
}

.preview {
  background: var(--c-surface-bg);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--c-border-variant);
  margin: var(--block-spacing-y) 0;
}

.preview__section {
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: var(--c-border-variant);
}

.preview__title {
  color: var(--c-fg-variant);
  font-size: var(--font-size-small);
  text-transform: uppercase;
}

.preview > :last-child {
  border-bottom: none;
}

.preview__content {
  margin: 1rem 0 2rem;
}

.preview__code {
  white-space: pre-wrap;
}
