.logo__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer {
  padding: var(--body-padding-y) 0 0;
  text-align: center;
}

.preview {
  background: var(--c-surface-bg);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--c-border-variant);
  margin: var(--block-spacing-y) 0;
}

.preview__section {
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: var(--c-border-variant);
}

.preview__title {
  color: var(--c-fg-variant);
  font-size: var(--font-size-small);
  text-transform: uppercase;
}

.preview > :last-child {
  border-bottom: none;
}

.preview__content {
  margin: 1rem 0 2rem;
}

.preview__code {
  white-space: pre-wrap;
}

.palette {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.palette__item {
  background: var(--bg);
  border-radius: var(--border-radius);
  flex: 1 1 0;
  height: 3rem;
  transition: background-color var(--transition);
}

.shadows {
  display: flex;
  gap: 2rem;
  margin: var(--block-spacing-y) 0;
}

.shadows__item {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  flex: 1 1 0;
  height: 4rem;
  background: var(--c-surface-bg);
}
