:root {
  --body-padding-x: 2rem;
  --body-padding-y: 2rem;
}

.sidebar-layout {
  max-width: 1440px;
  margin: auto;
  min-height: calc(100vh - var(--body-padding-y) * 2);
  display: flex;
  gap: 2rem;
  padding-bottom: 5rem;
}

.sidebar-layout__sidebar {
  flex: 0 0 auto;
  width: 100%;
  max-width: 16rem;
  padding: 2.5rem 2rem 2rem;
}

.sidebar-layout__content {
  flex: 1 1 auto;
  padding: 2rem;
}

.preview {
  background: var(--c-surface-bg);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--c-border-variant);
  margin: var(--block-spacing-y) 0;
}

.preview__section {
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: var(--c-border-variant);
}

.preview__title {
  color: var(--c-fg-variant);
  font-size: var(--font-size-small);
  text-transform: uppercase;
}

.preview > :last-child {
  border-bottom: none;
}

.preview__content {
  margin: 1rem 0 2rem;
}

.preview__code {
  white-space: pre-wrap;
}
