/* -------------------------------------------------- *
 * Mixins & functions                                 *
 * -------------------------------------------------- */

// Shorthand for including transitions using the default variables for all
// provided properties.
@mixin transition($property) {
  transition-duration: var(--transition-duration);
  transition-property: $property;
  transition-timing-function: var(--transition-timing-function);
}

// Generate an automatic background for an element, tinted with the elements
// font color and positioned using the ::after pseudo element.
@mixin autoBg($insetX: 0, $insetY: $insetX, $hoverOnly: false) {
  position: relative;

  &::after {
    @include transition(#{color, background-color, opacity});

    background: currentColor;
    border-radius: inherit;
    bottom: $insetY;
    color: inherit;
    content: "";
    left: $insetX;
    pointer-events: none;
    position: absolute;
    right: $insetX;
    top: $insetY;

    @if $hoverOnly {
      opacity: 0;
    } @else {
      opacity: var(--auto-bg-opacity);
    }
  }

  @if $hoverOnly {
    &:where(:hover)::after {
      opacity: var(--auto-bg-opacity);
    }
  }
}

@mixin outline($color) {
  outline: none;
  &:where(:focus) {
    box-shadow: 0 0 0 4px $color;
  }
}
