:where(:root) {
  /* -------------------------------------------------- *
   * Shared                                             *
   * -------------------------------------------------- */

  // Spacing
  --rem-base: clamp(16px, 0.1923vw + 15.2308px, 18px);
  --block-spacing-y: 2rem;
  --body-padding-y: 1rem;
  --body-padding-x: 1rem;
  --line-height: 1.5;

  // Borders
  --small-border-radius: 0.25rem;
  --border-radius: 0.375rem;
  --large-border-radius: 0.75rem;
  --border-width: 1px;

  // Transitions and other effects
  --transition-duration: 0.4s;
  --transition-timing-function: ease;
  --auto-bg-opacity: 0.15;
  --disabled-opacity: 0.4;
  --low-shadow-elevation: 0 0 0.25rem 0 var(--c-shadow);
  --medium-shadow-elevation: 0 0.25rem 1rem -0.25rem var(--c-shadow);
  --high-shadow-elevation: 0 0.5rem 2rem -0.5rem var(--c-shadow);

  /* -------------------------------------------------- *
   * Element-specific but might be useful in other      *
   * places as well (for other element specific         *
   * variables check the respective scss files)         *
   * -------------------------------------------------- */

  // Typography
  --small-font-size: 0.875rem;
  --font-size: 1rem;
  --h6-font-size: var(--font-size);
  --h5-font-size: 1.125rem;
  --h4-font-size: 1.25rem;
  --h3-font-size: 1.5rem;
  --h2-font-size: 2rem;
  --h1-font-size: 2.5rem;
}
