/* Basic page setup & layouts */
@import "./base/base.css";
@import "./base/icons.css";
@import "./base/variables.css";

/* UI components */
@import "./components/article.css";
@import "./components/button.css";
@import "./components/checkbox.css";
@import "./components/details.css";
@import "./components/dialog.css";
@import "./components/fieldset.css";
@import "./components/hgroup.css";
@import "./components/input.css";
@import "./components/menu.css";
@import "./components/nav.css";
@import "./components/output.css";
@import "./components/radio.css";
@import "./components/select.css";
@import "./components/switch.css";
@import "./components/table.css";
@import "./components/tabs.css";

/* Utilities */
@import "./utils/fallback.css";
@import "./utils/spinner.css";
@import "./utils/tooltip.css";
