/* -------------------------------------------------- *
 * Headings                                           *
 * -------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: max(var(--block-spacing-y), 1em) 0;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

hgroup {
  margin: var(--block-spacing-y) 0;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  p:first-child {
    color: var(--c-fg-variant);
    font-size: var(--font-size-small);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  p + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0.5rem;
  }

  :first-child:is(h1, h2, h3, h4, h5, h6),
  :is(h1, h2, h3, h4, h5, h6):not(:last-child) {
    margin-bottom: 1rem;
  }

  :is(h1, h2, h3, h4, h5, h6) + p {
    margin-top: 1rem;
    font-size: var(--font-size-h5);
    color: var(--c-fg-variant);
  }
}

/* -------------------------------------------------- *
 * Block typography elements                          *
 * -------------------------------------------------- */

p,
pre,
hr,
blockquote,
figure {
  margin: var(--block-spacing-y) 0;
}

pre {
  background: var(--c-surface-variant-bg);
  border-radius: var(--border-radius);
  color: var(--c-surface-variant-fg);
  font-size: 0.9em;
  padding: 1rem;
}

hr {
  border: none;
  border-top: var(--border-width) solid var(--c-border-variant);
  height: 0;
}

blockquote {
  border-left: 0.25rem solid var(--c-border-variant);
  padding: 0.5rem 1rem;
}

figure > blockquote {
  margin-bottom: 0;
}

figure > blockquote + figcaption {
  border-left: 0.25rem solid var(--c-border-variant);
  color: var(--c-fg-variant);
  font-size: var(--font-size-small);
  margin-bottom: var(--block-spacing-y);
  padding: 0 1rem 0.5rem;
}

/* -------------------------------------------------- *
 * Lists                                              *
 * -------------------------------------------------- */

ol,
ul,
dl {
  margin: var(--block-spacing-y) 0;
}

ol,
ul {
  padding: 0 0 0 1.5rem;
}

li::marker {
  color: var(--c-fg-variant);
}

li + li {
  margin-top: 0.25rem;
}

/* -------------------------------------------------- *
 * Inline                                             *
 * -------------------------------------------------- */

a,
u,
abbr {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

abbr {
  cursor: help;
  text-decoration-style: dashed;
}

code,
del,
ins,
kbd,
mark {
  background: none;
  border-radius: var(--border-radius-small);
  padding: 0.125rem;
  text-decoration: none;
}

code {
  background: var(--c-surface-variant-bg);
  color: var(--c-surface-variant-fg);
  font-size: 0.9em;
}

mark {
  background: var(--c-mark-bg, gold);
  color: var(--c-mark-fg, sienna);
}

ins {
  background: var(--c-ins-bg, mediumspringgreen);
  color: var(--c-ins-fg, darkgreen);
}

del {
  background: var(--c-del-bg, coral);
  color: var(--c-del-fg, darkred);
}

kbd {
  background: var(--c-fg);
  color: var(--c-bg);
  font-size: 0.9em;
}

small {
  font-size: var(--font-size-small);
}

sup,
sub {
  font-size: 0.75rem;
}

/* -------------------------------------------------- *
 * Links                                              *
 * -------------------------------------------------- */

a:not([role="button"]) {
  &,
  &:visited {
    color: var(--c-primary);
    transition: var(--transition);
    transition-property: color, border-color, text-decoration-color;
  }

  &:hover {
    color: var(--c-fg);
    text-decoration-color: currentColor;
  }
}
