:root {
  /* -------------------------------------------------- *
   * Shared                                             *
   * -------------------------------------------------- */

  // Font sizes
  --font-size-small: 0.875rem;
  --font-size: 1rem;
  --font-size-h6: var(--font-size);
  --font-size-h5: 1.125rem;
  --font-size-h4: 1.25rem;
  --font-size-h3: 1.5rem;
  --font-size-h2: 2rem;
  --font-size-h1: 2.5rem;

  // Font weights
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // Spacing
  --block-spacing-y: 2rem;
  --body-padding-y: 1rem;
  --body-padding-x: 1rem;
  --line-height: 1.5;

  // Borders
  --border-radius-small: 0.25rem;
  --border-radius: 0.375rem;
  --border-radius-large: 0.75rem;
  --border-width: 1px;
  --border-width-large: 2px;
  --outline: 0 0 0 4px var(--c-outline);

  // Transitions and other effects
  --transition-duration: 0.25s;
  --transition-timing-function: ease;
  --transition: var(--transition-duration) var(--transition-timing-function);
  --disabled-opacity: 0.4;

  // Shadows
  --shadow-elevation-low: 0 0.0625rem 0.125rem 0 var(--c-shadow);
  --shadow-elevation-medium: var(--shadow-elevation-low),
    0 0.15rem 0.75rem -0.2rem var(--c-shadow);
  --shadow-elevation-high: var(--shadow-elevation-low),
    0 0.3rem 1.5rem -0.3rem var(--c-shadow);

  // Theme
  --theme-tint: 155;
  --theme-primary: var(--theme-tint) 80% 44%;

  // Default color palette
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  --neutral-50: hsl(var(--theme-tint), 15%, 99%);
  --neutral-100: hsl(var(--theme-tint), 14%, 96%);
  --neutral-200: hsl(var(--theme-tint), 13%, 89%);
  --neutral-300: hsl(var(--theme-tint), 12%, 83%);
  --neutral-400: hsl(var(--theme-tint), 11%, 70%);
  --neutral-500: hsl(var(--theme-tint), 10%, 55%);
  --neutral-600: hsl(var(--theme-tint), 11%, 46%);
  --neutral-700: hsl(var(--theme-tint), 12%, 19%);
  --neutral-800: hsl(var(--theme-tint), 13%, 11%);
  --neutral-900: hsl(var(--theme-tint), 14%, 8%);
  --neutral-950: hsl(var(--theme-tint), 15%, 4%);

  --primary: hsl(var(--theme-primary) / 1);
  --on-primary: var(--white);
  --primary-50: hsl(var(--theme-primary) / 0.075);
  --primary-100: hsl(var(--theme-primary) / 0.18);
  --primary-200: hsl(var(--theme-primary) / 0.4);
  --primary-300: hsl(var(--theme-primary) / 0.6);
  --primary-400: hsl(var(--theme-primary) / 0.7);
  --primary-500: var(--primary);
}

/* -------------------------------------------------- *
 * Dark mode & theming                                *
 * -------------------------------------------------- */

:root {
  --color-scheme: light;
  --c-border: var(--neutral-300);
  --c-border-variant: var(--neutral-100);
  --c-outline: var(--primary-100);
  --c-shadow: var(--neutral-200);
  --c-bg: var(--neutral-50);
  --c-fg: var(--neutral-950);
  --c-fg-variant: var(--neutral-500);
  --c-surface-bg: var(--white);
  --c-surface-fg: var(--neutral-950);
  --c-surface-variant-bg: var(--neutral-100);
  --c-surface-variant-fg: var(--neutral-950);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
    --c-border: var(--neutral-700);
    --c-border-variant: var(--neutral-800);
    --c-outline: var(--primary-100);
    --c-shadow: var(--c-bg);
    --c-bg: var(--neutral-950);
    --c-fg: var(--neutral-50);
    --c-fg-variant: var(--neutral-500);
    --c-surface-bg: var(--neutral-900);
    --c-surface-fg: var(--neutral-50);
    --c-surface-variant-bg: var(--neutral-800);
    --c-surface-variant-fg: var(--neutral-50);
  }
}
