:root {
  color-scheme: var(--color-scheme);
}

*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
  outline-color: var(--c-outline);
}

body {
  background: var(--c-bg);
  color: var(--c-fg);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: auto;
  max-width: var(--body-width);
  padding: var(--body-padding-y) var(--body-padding-x);
  tab-size: 4;
}

::selection {
  background: var(--primary-200);
}

:is(button, input, textarea, select) {
  appearance: none;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  margin: 0;
}

svg {
  color: currentColor;
  display: block;
  flex: none;
  height: 1.2em;
  width: auto;
}

/* Headings -------------------------------------------- */

:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.2;
  margin: var(--outer-spacing-y) 0;
  overflow-wrap: break-word;
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

/* Block typography elements --------------------------- */

:is(p, pre, hr, blockquote, figure) {
  margin: var(--outer-spacing-y) 0;
}

:is(code, kbd, pre) {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-mono);
}

p {
  overflow-wrap: break-word;
}

pre {
  background: var(--c-surface-variant-bg);
  border-radius: var(--border-radius);
  color: var(--c-surface-variant-fg);
  overflow: auto;
  padding: 1rem;

  code {
    padding: 0;
  }
}

hr {
  border: 0px solid var(--c-border-variant);
  border-top-width: var(--border-width);
  height: 0;
}

blockquote {
  border-left: 0.25rem solid var(--c-border-variant);
  padding: 0.5rem 1rem;

  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }
}

figure > blockquote {
  margin-bottom: 0;

  & + figcaption {
    border-left: 0.25rem solid var(--c-border-variant);
    color: var(--c-fg-variant);
    font-size: var(--font-size-small);
    margin-bottom: var(--outer-spacing-y);
    padding: 0 1rem 0.5rem;
  }
}

/* Lists ----------------------------------------------- */

:is(ol, ul, dl) {
  margin: var(--outer-spacing-y) 0;

  & & {
    list-style-type: disc;
    margin-bottom: 0;
    margin-top: 0.25rem;
  }
}

:is(ol, ul) {
  padding: 0 0 0 1.5rem;
}

li {
  &::marker {
    color: var(--c-fg-variant);
  }

  & + & {
    margin-top: 0.25rem;
  }
}

/* Inline ---------------------------------------------- */

:is(a, u, abbr) {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

abbr {
  cursor: help;
  text-decoration-style: dotted;
}

:is(code, del, ins, kbd, mark) {
  background: none;
  border-radius: var(--border-radius-small);
  padding: 0.25rem 0.375rem;
  text-decoration: none;
}

code {
  background: var(--c-surface-variant-bg);
  color: var(--c-surface-variant-fg);
}

cite {
  color: var(--c-fg-variant);
  font-style: normal;
}

kbd {
  background: var(--c-fg);
  color: var(--c-bg);
}

small {
  font-size: var(--font-size-small);
}

strong {
  font-weight: var(--font-weight-bold);
}

:is(sup, sub) {
  font-size: 0.75rem;
}

/* Links ----------------------------------------------- */

a {
  text-decoration-color: oklch(from currentColor l c h / 20%);
  transition: var(--transition);
  transition-property: color, text-decoration-color;

  &,
  &:visited {
    color: var(--c-link);
  }

  &:hover {
    color: var(--c-link-hover);
  }
}
