/* -------------------------------------------------- *
 * Icons                                              *
 * -------------------------------------------------- */

:root {
  --icon-calendar: icon("calendar.svg", #000000);
  --icon-check: icon("check.svg", #000000);
  --icon-chevron: icon("chevron.svg", #000000);
  --icon-clock: icon("clock.svg", #000000);
  --icon-lock: icon("lock.svg", #000000);
  --icon-mail: icon("mail.svg", #000000);
  --icon-minus: icon("minus.svg", #000000);
  --icon-search: icon("search.svg", #000000);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Icons */
    --icon-calendar: icon("calendar.svg", #ffffff);
    --icon-check: icon("check.svg", #ffffff);
    --icon-chevron: icon("chevron.svg", #ffffff);
    --icon-clock: icon("clock.svg", #ffffff);
    --icon-lock: icon("lock.svg", #ffffff);
    --icon-mail: icon("mail.svg", #ffffff);
    --icon-minus: icon("minus.svg", #ffffff);
    --icon-search: icon("search.svg", #ffffff);
  }
}
