:root {
  /* -------------------------------------------------- *
   * Shared                                             *
   * -------------------------------------------------- */

  /* Font families */
  --font-family: system-ui, sans-serif;
  --font-family-mono: ui-monospace, Menlo, Consolas, monospace;

  /* Font sizes */
  --font-size: 1rem;
  --font-size-small: calc(var(--font-size) * 0.875);
  --font-size-h6: var(--font-size);
  --font-size-h5: calc(var(--font-size) * 1.125);
  --font-size-h4: calc(var(--font-size) * 1.25);
  --font-size-h3: calc(var(--font-size) * 1.5);
  --font-size-h2: calc(var(--font-size) * 2);
  --font-size-h1: calc(var(--font-size) * 2.5);
  --font-size-mono: 0.9em;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Spacing */
  /* Calculated with https://clamp.a13i.dev */
  --body-padding-x: clamp(1rem, 1.495vw + 0.75rem, 2rem);
  --body-padding-y: clamp(2rem, 8.972vw - 0.125rem, 5rem);
  --block-spacing-y: 2rem;
  --line-height: 1.5;

  /* Borders */
  --border-radius-small: 0.25rem;
  --border-radius: 0.5rem;
  --border-radius-large: 0.75rem;
  --border-width: 1px;
  --border-width-large: 2px;
  --outline: var(--border-width-large) solid var(--c-outline);
  --outline-inset: calc(-1 * var(--border-width-large));
  --outline-outset: var(--border-width-large);

  /* Transitions and other effects */
  --transition-duration: 0.2s;
  --transition-timing-function: ease;
  --transition: var(--transition-duration) var(--transition-timing-function);
  --disabled-opacity: 0.4;

  /* Shadows */
  --shadow-elevation-low: 0 0.0625rem 0.125rem 0 var(--c-shadow);
  --shadow-elevation-medium: var(--shadow-elevation-low),
    0 0.15rem 0.75rem -0.2rem var(--c-shadow);
  --shadow-elevation-high: var(--shadow-elevation-low),
    0 0.3rem 1.5rem -0.3rem var(--c-shadow);

  /* Theme */
  --theme-tint: 165;
  --theme-primary: 72% 0.15 var(--theme-tint);

  /* Default color palette */
  --black: oklch(0% 0 0);
  --white: oklch(100% 0 0);

  --neutral-50: oklch(99% 0.001 var(--theme-tint));
  --neutral-100: oklch(97% 0.003 var(--theme-tint));
  --neutral-200: oklch(92% 0.008 var(--theme-tint));
  --neutral-300: oklch(88% 0.012 var(--theme-tint));
  --neutral-400: oklch(78% 0.02 var(--theme-tint));
  --neutral-500: oklch(64% 0.025 var(--theme-tint));
  --neutral-600: oklch(58% 0.02 var(--theme-tint));
  --neutral-700: oklch(26% 0.018 var(--theme-tint));
  --neutral-800: oklch(21% 0.018 var(--theme-tint));
  --neutral-900: oklch(18% 0.012 var(--theme-tint));
  --neutral-950: oklch(14% 0.005 var(--theme-tint));

  --primary: oklch(var(--theme-primary));
  --on-primary: var(--white);
  --primary-50: color-mix(in oklch, var(--c-bg), var(--primary) 7.5%);
  --primary-100: color-mix(in oklch, var(--c-bg), var(--primary) 18%);
  --primary-200: color-mix(in oklch, var(--c-bg), var(--primary) 40%);
  --primary-300: color-mix(in oklch, var(--c-bg), var(--primary) 60%);
  --primary-400: color-mix(in oklch, var(--c-bg), var(--primary) 70%);
  --primary-500: var(--primary);
}

/* -------------------------------------------------- *
 * Dark mode & theming                                *
 * -------------------------------------------------- */

:root {
  --color-scheme: light dark;
  --c-border: light-dark(var(--neutral-200), var(--neutral-700));
  --c-border-variant: light-dark(var(--neutral-100), var(--neutral-800));
  --c-outline: light-dark(var(--primary), var(--primary));
  --c-shadow: light-dark(var(--neutral-200), var(--c-bg));
  --c-bg: light-dark(var(--neutral-50), var(--neutral-950));
  --c-fg: light-dark(var(--neutral-950), var(--neutral-50));
  --c-fg-variant: light-dark(var(--neutral-500), var(--neutral-500));
  --c-surface-bg: light-dark(var(--white), var(--neutral-900));
  --c-surface-fg: light-dark(var(--neutral-950), var(--neutral-50));
  --c-surface-variant-bg: light-dark(var(--neutral-100), var(--neutral-800));
  --c-surface-variant-fg: light-dark(var(--neutral-950), var(--neutral-50));
}
