/* -------------------------------------------------- *
 * Article (as container that's visually separated    *
 * from the other content)                            *
 * -------------------------------------------------- */

@use "../lib";

:where(article) {
  @include lib.transition(#{color, background-color, border-color, box-shadow});

  background: var(--article-bg, var(--c-surface-bg));
  border-radius: var(--large-border-radius);
  box-shadow: var(--high-shadow-elevation);
  color: var(--article-fg, var(--c-surface-fg));
  margin: var(--block-spacing-y) 0;
  padding: var(--article-padding-y, 2rem) var(--article-padding-x, 2rem);
}
