/* -------------------------------------------------- *
 * Article (as container that's visually separated    *
 * from the other content)                            *
 * -------------------------------------------------- */

@use "../lib";

article {
  @include lib.transition(#{color, background-color, border-color, box-shadow});
  background: var(--article-bg, var(--c-surface-bg));
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-elevation-high);
  color: var(--article-fg, var(--c-surface-fg));
  margin: var(--block-spacing-y) 0;
  padding: var(--block-spacing-y) 2rem;
}
