/* -------------------------------------------------- *
 * Basic document stuff                               *
 * -------------------------------------------------- */

:root {
  color-scheme: var(--color-scheme);
}

body {
  background: var(--c-bg);
  color: var(--c-fg);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: var(--body-padding-y, 0) var(--body-padding-x, 0);
  transition: var(--transition);
  transition-property: color, background-color;
}

::selection {
  background-color: var(--c-surface-primary-bg);
}
