/* -------------------------------------------------- *
 * Basic document stuff                               *
 * -------------------------------------------------- */

@use "../lib";

:where(:root) {
  color-scheme: var(--color-scheme);
  font-size: var(--rem-base);
}

:where(body) {
  @include lib.transition(#{color, background-color});

  background: var(--c-bg);
  color: var(--c-fg);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: var(--body-padding-y, 0) var(--body-padding-x, 0);
}

::selection {
  background-color: var(--selection-bg, var(--c-primary));
  color: var(--selection-fg, var(--c-on-primary));
}
