/* -------------------------------------------------- *
 * Dark mode & theming                                *
 * -------------------------------------------------- */

@function tinted($s, $l, $a: false) {
  @if not $a {
    $a: 1;
  }

  @return hsl(
    var(--theme-tint) calc($s * var(--theme-saturate))
      calc($l * var(--theme-lighten)) / $a
  );
}

:root {
  --theme-tint: 155;
  --theme-saturate: 1;
  --theme-lighten: 1;

  --color-scheme: light;
  --c-bg: #{tinted(10%, 99%)};
  --c-backdrop-bg: #{tinted(10%, 99%, 0.8)};
  --c-fg: #{tinted(12%, 6%)};
  --c-fg-variant: #{tinted(8%, 55%)};
  --c-surface-bg: #{tinted(0%, 100%)};
  --c-surface-fg: var(--c-fg);
  --c-surface-variant-bg: #{tinted(11%, 96%)};
  --c-surface-variant-fg: var(--c-surface-fg);
  --c-border: #{tinted(14%, 84%)};
  --c-shadow: #{tinted(14%, 88%)};

  --c-primary: #{tinted(80%, 44%)};
  --c-on-primary: #{tinted(0%, 100%)};
  --c-primary-container: #{tinted(80%, 44%, var(--auto-bg-opacity))};
}

// Backdrop doesn't inherit from root, so we'll need to declare variables
// separately
::backdrop {
  --theme-tint: 155;
  --theme-saturate: 1;
  --theme-lighten: 1;

  --c-backdrop-bg: #{tinted(10%, 99%, 0.8)};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
    --c-bg: #{tinted(10%, 5%)};
    --c-backdrop-bg: #{tinted(10%, 5%, 0.8)};
    --c-fg: #{tinted(0%, 100%)};
    --c-fg-variant: #{tinted(8%, 55%)};
    --c-surface-bg: #{tinted(12%, 8%)};
    --c-surface-fg: var(--c-fg);
    --c-surface-variant-bg: #{tinted(14%, 11%)};
    --c-surface-variant-fg: var(--c-surface-fg);
    --c-border: #{tinted(14%, 18%)};
    --c-shadow: #{tinted(10%, 4%)};
  }

  ::backdrop {
    --c-backdrop-bg: #{tinted(10%, 5%, 0.8)};
  }
}
