/* -------------------------------------------------- *
 * Dark mode & theming                                *
 * -------------------------------------------------- */

:where(:root) {
  --tint: 155;

  --color-scheme: light;
  --c-bg: hsl(var(--tint) 10% 99%);
  --c-fg: hsl(var(--tint) 40% 4%);
  --c-fg-variant: hsl(var(--tint) 10% 58%);
  --c-surface-bg: hsl(0 0% 100%);
  --c-surface-fg: var(--c-fg);
  --c-surface-variant-bg: hsl(var(--tint) 11% 95%);
  --c-surface-variant-fg: var(--c-surface-fg);
  --c-border: hsl(var(--tint) 12% 84%);
  --c-primary: hsl(var(--tint) 80% 44%);
  --c-on-primary: var(--c-bg);
  --c-primary-container: hsl(var(--tint) 80% 44% / 0.2);
  --c-shadow: hsl(var(--tint) 20% 88%);

  --c-code: var(--c-primary);
  --c-del: hsl(8 72% 52%);
  --c-ins: hsl(130 60% 50%);
  --c-mark: hsl(48 90% 54%);
}

// Backdrop doesn't inherit from root, so we'll need to declare variables
// separately
:where(::backdrop, dialog + .backdrop) {
  --tint: 155;
  --c-bg: hsl(var(--tint) 10% 99% / 0.8);
}

@media (prefers-color-scheme: dark) {
  :where(:root) {
    --color-scheme: dark;
    --c-bg: hsl(var(--tint) 40% 4%);
    --c-fg: hsl(var(--tint) 10% 96%);
    --c-fg-variant: hsl(var(--tint) 10% 44%);
    --c-surface-bg: hsl(var(--tint) 12% 7%);
    --c-surface-fg: var(--c-fg);
    --c-surface-variant-bg: hsl(var(--tint) 11% 9%);
    --c-surface-variant-fg: var(--c-surface-fg);
    --c-border: hsl(var(--tint) 12% 18%);
    --c-primary: hsl(var(--tint) 80% 44%);
    --c-on-primary: var(--c-fg);
    --c-primary-container: hsl(var(--tint) 80% 44% / 0.25);
    --c-shadow: hsl(var(--tint) 20% 3%);
  }

  :where(::backdrop, dialog + .backdrop) {
    --c-bg: hsl(var(--tint) 40% 4% / 0.8);
  }
}
