/* -------------------------------------------------- *
 * Headings                                           *
 * -------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: max(var(--block-spacing-y), 1em) 0;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

hgroup {
  margin: var(--block-spacing-y) 0;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  p:first-child {
    color: var(--c-fg-variant);
    font-size: var(--font-size-small);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  p + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0.5rem;
  }

  :first-child:is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 1rem;
  }

  :is(h1, h2, h3, h4, h5, h6) + p {
    margin-top: 1rem;
    font-size: var(--font-size-h5);
    color: var(--c-fg-variant);
  }
}

/* -------------------------------------------------- *
 * Block typography elements                          *
 * -------------------------------------------------- */

p,
pre,
hr,
blockquote,
figure {
  margin: var(--block-spacing-y) 0;
}

pre {
  background: var(--c-surface-variant-bg);
  border-radius: var(--border-radius);
  color: var(--c-surface-variant-fg);
  padding: 1rem;
  transition: var(--transition);
  transition-property: color, background-color;
}

hr {
  border-top: var(--border-width) solid var(--c-border);
  height: 0;
  transition: var(--transition);
  transition-property: border-color;
}

blockquote {
  border-left: 0.25rem solid var(--c-border);
  padding: 0.5rem 1rem;
  transition: var(--transition);
  transition-property: color, border-color;
}

figure > blockquote {
  margin-bottom: 0;
}

figure > blockquote + figcaption {
  border-left: 0.25rem solid var(--c-border);
  color: var(--c-fg-variant);
  font-size: var(--font-size-small);
  margin-bottom: var(--block-spacing-y);
  padding: 0 1rem 0.5rem;
  transition: var(--transition);
  transition-property: color, border-color;
}

/* -------------------------------------------------- *
 * Lists                                              *
 * -------------------------------------------------- */

ol,
ul,
dl {
  margin: var(--block-spacing-y) 0;
}

ol,
ul {
  padding: 0 0 0 1.25rem;
}

ul li {
  list-style-type: square;
}

li::marker {
  color: var(--c-fg-variant);
  transition: var(--transition);
  transition-property: color;
}

li + li {
  margin-top: 0.25rem;
}

/* -------------------------------------------------- *
 * Inline                                             *
 * -------------------------------------------------- */

a,
u,
abbr {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

abbr {
  cursor: help;
  text-decoration-style: dashed;
}

code,
mark,
ins,
del {
  background: none;
  border-radius: var(--border-radius-small);
  padding: 0 0.25rem;
  position: relative;
  text-decoration: none;
  transition: var(--transition);
  transition-property: color;

  &::after {
    background: currentColor;
    border-radius: inherit;
    bottom: -0.125rem;
    color: inherit;
    content: "";
    left: -0.125rem;
    opacity: var(--auto-bg-opacity);
    pointer-events: none;
    position: absolute;
    right: -0.125rem;
    top: -0.125rem;
  }
}

code {
  color: var(--c-code, var(--c-primary));
}

mark {
  color: var(--c-mark, orange);
}

ins {
  color: var(--c-ins, limegreen);
}

del {
  color: var(--c-del, orangered);
}

kbd {
  background: var(--c-fg);
  border-radius: var(--border-radius-small);
  color: var(--c-bg);
  padding: 0.125rem 0.25rem;
  transition: var(--transition);
  transition-property: color, background-color;
}

small {
  font-size: var(--font-size-small);
}

sup,
sub {
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  margin: 0 2px;
  position: relative;
}

sub {
  bottom: -0.125rem;
  vertical-align: bottom;
}

sup {
  top: -0.125rem;
  vertical-align: top;
}

/* -------------------------------------------------- *
 * Links                                              *
 * -------------------------------------------------- */

a,
a:visited {
  color: var(--c-primary);
  text-decoration-color: currentColor;
  transition: var(--transition);
  transition-property: color, border-color, text-decoration-color;
}

a:hover {
  color: var(--c-fg);
  text-decoration-color: currentColor;
}
