/* -------------------------------------------------- *
 * Block typography elements                          *
 * -------------------------------------------------- */

@use "../lib";

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-h, 1.2);
  margin: max(var(--block-spacing-y), 1em) 0;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p,
pre,
hr,
blockquote,
figure {
  margin: var(--block-spacing-y) 0;
}

pre {
  @include lib.transition(#{color, background-color});

  background: var(--c-surface-variant-bg);
  color: var(--c-surface-variant-fg);
  border-radius: var(--border-radius);
  padding: 1rem;
}

hr {
  @include lib.transition(#{border-color});

  border: none;
  border-top: var(--border-width) solid var(--c-border);
  height: 0;
}

blockquote {
  @include lib.transition(#{color, border-color});

  border-left: 0.25rem solid var(--c-border);
  padding: 0.5rem 1rem;
}

figure > blockquote {
  margin-bottom: 0;
}

figure > blockquote + figcaption {
  @include lib.transition(#{color, border-color});

  border-left: 0.25rem solid var(--c-border);
  color: var(--c-fg-variant);
  font-size: var(--font-size-small);
  margin-bottom: var(--block-spacing-y);
  padding: 0 1rem 0.5rem;
}

/* -------------------------------------------------- *
 * Lists                                              *
 * -------------------------------------------------- */

ol,
ul,
dl {
  margin: var(--block-spacing-y) 0;
}

ol,
ul {
  padding: 0 0 0 1.25rem;
}

ul li {
  list-style-type: square;
}

li::marker {
  @include lib.transition(#{color});

  color: var(--c-fg-variant);
}

li + li {
  margin-top: 0.25rem;
}

/* -------------------------------------------------- *
 * Inline                                             *
 * -------------------------------------------------- */

a,
u,
abbr {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}
abbr {
  cursor: help;
  text-decoration-style: dashed;
}

code,
mark,
ins,
del {
  @include lib.transition(#{color});
  @include lib.autoBg(0, -0.125rem);

  background: none;
  padding: 0 0.25rem;
  text-decoration: none;
  border-radius: var(--border-radius-small);
}

code {
  color: var(--c-code, var(--c-primary));
}

mark {
  color: var(--c-mark, orange);
}

ins {
  color: var(--c-ins, limegreen);
}

del {
  color: var(--c-del, orangered);
}

kbd {
  @include lib.transition(#{color, background-color});

  background: var(--c-fg);
  border-radius: var(--border-radius-small);
  color: var(--c-bg);
  padding: 0.125rem 0.25rem;
}

small {
  font-size: var(--font-size-small);
}

sup,
sub {
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  margin: 0 2px;
  position: relative;
}

sub {
  bottom: -0.125rem;
  vertical-align: bottom;
}

sup {
  top: -0.125rem;
  vertical-align: top;
}

/* -------------------------------------------------- *
 * Links                                              *
 * -------------------------------------------------- */

a,
a:visited {
  @include lib.transition(#{color, border-color, text-decoration-color});

  text-decoration-color: var(--link-decoration-color, currentColor);
  color: var(--link-color, var(--c-primary));
}

a:hover {
  color: var(--link-hover-color, var(--c-fg));
  text-decoration-color: var(--link-hover-decoration-color, currentColor);
}
